body {
    background: #020126;
    font-family: 'Nunito', sans-serif;
}

header {
    background: #F205CB;
    border: 5px solid  #F20574;
    border-radius: 20px;
}

#profile {
    color:#F205CB;
    margin: 50px;
    display: flex;
    width: 1500px;

}
#profile .text {
    color:white;
    
}

#profile  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile img {
    margin: 0 300px;

}

#speciality {
    color:#F20574;
}

#project {
    color:white;
}

footer {
    background: #0B0340;
    border: 5px solid #1D08A6;
    border-radius: 20px;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 35px;
 
}

#social-links a {
    color: #F20574;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
  }
  
#social-links a:hover {
    background: #020126;;
  }

/* #F20574; - rosa neon 
#F205CB; - rosa claro
#1D08A6; - azul 
#0B0340; - azulk escuro 
#020126; - background */