body {
    background: #010013;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
}

header {
    background: url(./assets/backgound.png)  no-repeat top center / cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#start {
    display: flex;
    justify-content: center;
    font-weight: 700;
    width: 100%;
}

#start p{
    margin: 5px 2%;
    height: 40px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010013;
    border: 3px solid #0B0340;
    border-radius: 10px;
    font-size: large;
    transition: 0.4s;
}

#start p:hover {

    cursor: pointer;
    transition: 0.3s;
    border: 3px solid white;
}

#profile {
    color:#F20574;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#profile .text {
    color:white;
    width: 50%;
}

#profile  h1 {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:#F20574;
}

#speciality {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#speciality h1 {
    color:#F20574;
    font-family: 'Open Sans', sans-serif;
}

#speciality p {
    width: 50%;
}

#speciality .icon {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

#project {
   display: flex;
   flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

#project .container {

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#project .title {
    color:#F20574;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
}

#project article {
    height: 400px;
    width: 250px ;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 50px;
    background: #0B0340; 
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
  }

#project article a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 150px ;
    padding: 10px;
    background:#010013;
    border: 3px solid #1D08A6;
    border-radius: 10px;
    transition: 0.5s;
}

#project article a:hover {
    border: 3px solid white;
}

footer {
    background: #F20574;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 30px;
}

#social-links a {
    color: #010013;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
    transition: 0.4s;
  }
  
#social-links a:hover {
    background: #010013;
    transition: 0.3s;
    color:white;
  }

/* #F20574; - rosa neon 
#F205CB; - rosa claro
#1D08A6; - azul 
#0B0340; - azulk escuro 
#010013; - background */