body {
    background: #010013;
    font-family: 'Nunito', sans-serif;
}

header {
    background: #0B0340;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
}

ul{
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    font-weight: 700;
    width: 100%;
    padding: 0px;
}

ul p{
    margin: 15px ;
    font-size: large;
}

ul p:hover {
    color: #F20574;
    cursor: pointer;

}
#profile {
    color:#F205CB;
    margin: 50px;
    margin-top: 150px;
    display: flex;
    width: 1500px;

}
#profile .text {
    color:white;
    
}

#profile  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile img {
    margin: 0 300px;

}

#speciality {
    color:#F20574;
}

#project {
    color:white;
}

footer {
    background: #0B0340;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
 
}

#social-links a {
    color: #F20574;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background 0.2s;
    border-radius: 50%;
  }
  
#social-links a:hover {
    background: #010013;
  }

/* #F20574; - rosa neon 
#F205CB; - rosa claro
#1D08A6; - azul 
#0B0340; - azulk escuro 
#010013; - background */